<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Add Event</title>
</head>
<body>

  <div>
    <h1>➕ Add New Campaign</h1>
    <form method="POST" action="/addevent">
      <label for="eventid">Event ID</label>
      <input type="number" id="eventid" name="eventid" placeholder="Enter Event ID" required />

      <label for="eventname">Event Name</label>
      <input type="text" id="eventname" name="eventname" placeholder="Enter Event Name" required />

      <button type="submit">✅ Add Event</button>
    </form>
  </div>

</body>
</html>
